{:kotoba.app/id "cloud.itonami.isic-2012", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiha4z22qxtkhemqb63nf4w5fqd75x3vznrsb3jsykygzydhmvglle", :kotoba.app/embed-url "ipfs://bafkreiha4z22qxtkhemqb63nf4w5fqd75x3vznrsb3jsykygzydhmvglle", :published {:archive "https://kotobase.net/ipfs/bafkreiha4z22qxtkhemqb63nf4w5fqd75x3vznrsb3jsykygzydhmvglle", :size 73191, :put-status 201, :get-status 200, :at "2026-08-15T13:45:27.452Z"}}
